<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="camera_mount" params="prefix parent *origin">

    <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
    
    <link name="camera_mount">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh
            filename="file://$(find camera_mount)/meshes/camera_mount.STL"
            scale="1 1 1"/>
        </geometry>
        <material name="Black"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://$(find camera_mount)/meshes/camera_mount.STL" scale="1 1 1"/>
        </geometry>
      </collision>
    </link>

    <!-- Camera Link -->
      <link name ="robot_camera_link">
        <!-- <visual>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <mesh filename="file://$(find camera_mount)/meshes/camera.stl" scale="1 1 1"/>
          </geometry>
        </visual> -->
      </link>

    <joint name="robot_camera_mount_joint" type="fixed">
        <axis xyz="0 1 0" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="${parent}"/>
        <child link="camera_mount"/>
    </joint>

    <!-- Add camera joint -->
      <joint name="robot_camera_joint" type="fixed">
        <axis xyz="0 1 0" />
        <origin xyz="0.04617 0.02 0.04178" rpy="0 0.314159 0"/>
        <parent link="camera_mount"/>
        <child link="robot_camera_link"/>
      </joint>

      <gazebo reference="camera_mount">
        <material>Gazebo/White</material>
      </gazebo>

      <!-- <gazebo reference="robot_camera_link">
        <material>Gazebo/White</material>
      </gazebo> -->

    <!-- <joint name="camera_mount_joint_" type="fixed">
      <origin xyz="0 -0.0175 0.0208" rpy="0 ${-pi/2} ${-pi}"/>
      <parent link="camera_mount"/>
      <child link="camera_link" />
    </joint> -->

    <!-- Run camera macro -->
    <xacro:sensor_d435 
      parent="robot_camera_link" 
      use_nominal_extrinsics="false" 
      add_plug="false" 
      use_mesh="true">
      <origin xyz="0 0.014 -0.0125" rpy="0 0 ${pi/2.0}"/>
    </xacro:sensor_d435>

  </xacro:macro>
</robot>