<?xml version="1.0"?>
<model>
    <name>soptical_table_leg</name>
    <version>1.0</version>
    <sdf>opticaltableleg.sdf</sdf>
 
    <author>
        <name>John Michaloski</name>
        <email>john.michaloski@nist.gov</email>
    </author>

    <description>
    ThorLab Optical Table Leg.
    </description>
</model>

