<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="aprs_robots">
    <!-- Root link -->
  <!-- <link name="world"/> -->

  <!-- Material for RVIZ -->
  <material name="Grey">
    <color rgba="${220/255} ${220/255} ${220/255} 1.0"/>
  </material>

  <!-- Locate Robot Macros -->
  <xacro:include filename="$(find aprs_lab)/urdf/ur_robot_macro.xacro"/>
  

  <!-- ur Robot -->
  <xacro:aprs_ur_robot/>

  <xacro:include filename="$(find aprs_lab)/urdf/franka_robot_macro.xacro"/>
  
  <xacro:aprs_franka_robot/>

  <gazebo 
    reference="world">
  </gazebo>

  <!-- ROS2 Control Plugin -->
  <xacro:arg name="controllers" default="$(find aprs_lab)/config/robot_controllers.yaml" />

   <!-- Gazebo plugins -->
  <gazebo reference="world">
  </gazebo>
  <gazebo>
    <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
      <parameters>$(arg controllers)</parameters>
        <!-- <controller_manager_node_name>controller_manager</controller_manager_node_name> -->
    </plugin>
  </gazebo>

</robot>