<?xml version="1.0"?>
<model>
    <name>sku_medium_gear_vessel</name>
    <version>1.0</version>
    <sdf>sku_medium_gear_vessel.sdf</sdf>
 
    <author>
        <name>Murat Aksu</name>
        <email>murat.aksu@nist.gov</email>
    </author>

    <description>
    Medium gear holder model.
    </description>
</model>

